.our-services-hero {
  position: relative;
}

.our-services-hero img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  top: 0;
  left: 0;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s;
}

/* CARDS */

.card {
  background-color: var(--color-navy-blue) !important;
}

.our-services-top-card {
  transform: translateY(-50%);
  flex-direction: column;
}

@media (max-width: 768px) {
  .our-services-top-card {
    transform: translateY(24px);
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .our-services-top-card {
    transform: translateY(-30%);
  }
}

.container {
  gap: 1.2rem;
}

@media (min-width: 992px) {
  .container {
    gap: 4rem;
  }
}

@media (max-width: 430px) {
  .card {
    margin-bottom: 1rem;
  }
}

/* @media (min-width: 768px) and (max-width: 819px) {
  .our-services-top-card {
    flex-direction: row;
  }

  .card {
    flex-basis: 50%;
  }
} */

@media (min-width: 820px) {
  .our-services-top-card {
    flex-direction: row;
  }

  .card {
    flex-basis: 33.33%;
  }
}

/* MIDDLE CARDS */

.job-card {
  /* transform: translateY(-60px); */
  transform: translateY(-100px);
}

@media (max-width: 767px) {
  .job-card {
    transform: translateY(-10px);
  }
}

.wrapper {
  padding: 10px 10%;
}

#card-area {
  padding: 50px 0;
}

.box-area {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
}

@media (max-width:768px) {
  .box-area {
    margin-top: 50px;
  }
}

.overlay {
  width: 100%;
  height: 0;
  background: linear-gradient(180deg, rgba(20, 83, 163, 0.5) 50%, rgba(7, 31, 61, 0.5) 100%);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 20px;
  text-align: center;
  font-size: 0.9rem;
  transition: height 0.5s;
}

@media (max-width: 768px) {
  .overlay {
    /* height: 160%; */
    height: 170%;
  }
}

.overlay h3 {
  font-weight: 500;
  margin-bottom: 5px;
  margin-top: 80%;
  font-size: 30px;
  letter-spacing: 2px;
  color: white;
}

@media (min-width: 992px) {
  .overlay h3 {
    font-size: 24px !important;
    margin-top: 75%;
  }

  .overlay p {
    font-size: 1rem !important;
  }
}

.overlay p {
  color: beige;
  /* margin-bottom: 120px; */
}

.box-job {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
}

.box-job img {
  width: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}

.box-job:hover img {
  transform: scale(1.1);
}

.box-job:hover .overlay {
  /* height: 100%; */
  height: 160%;
}

@media (max-width: 768px) {
  .box-job {
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
  }

  .box-job img {
    height: 100%;
    object-fit: cover;
  }
}

/* NEW OUR SERVICES CARDS */

.new-our-services-cards-heading {
  /* font-size: 2.5rem; */
  margin-bottom: 1rem;
}

.new-our-services-cards-text {
  margin-bottom: 2rem;
  /* font-size: 1.2rem; */
}

/* Card container and card styles */
.new-our-services-cards-container {
  margin-top: 2rem;
}

.new-our-services-cards-card {
  padding: 15px;
  position: relative;
}

.new-our-services-cards-image-container {
  overflow: hidden;
  border-radius: 10px;
}

.new-our-services-cards-image {
  width: 100%;
  height: 360px;
  /* border-radius: 10px; */
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.new-our-services-cards-image:hover {
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .new-our-services-cards-image:hover {
    transform: scale(1);
  } 
}

/* Overlay styles */
.new-our-services-cards-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 45%;
  /* background-color: rgba(0, 0, 255, 0.5); */
  background-color: #1453A3B2;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  padding: 8px;
}

.new-our-services-cards-overlay-text {
  color: white;
  font-size: 0.9rem;
}

@media (min-width: 769px) {
  .new-our-services-cards-image:hover .new-our-services-cards-overlay {
    /* bottom: -100%; */
    bottom: -25%;
    transform: translateX(6px);
  }
}

/* CLIENT-SUCCESS-STORIES BACKUP */

/* .client-success-stories {
  background: linear-gradient(90deg, #B4D5FF 0%, #FFC183 50%, #FFE0C1 100%);
}

.client-success-stories-text {
  position: relative;
  padding: 10px;
  z-index: 1;
}

.client-success-stories-text::before,
.client-success-stories-text::after {
  content: '';
  background: url('../images/our-services-icon-img/quote-icon.png') no-repeat;
  background-size: contain;
  position: absolute;
  width: 100px;
  height: 100px;
}

.client-success-stories-text::before {
  top: -10%;
  left: -20%;
}

.client-success-stories-text::after {
  bottom: -40%;
  right: 0;
}

@media (min-width: 1400px) {
  .client-success-stories-text::before {
    top: -10%;
    left: -15%;
  }

  .client-success-stories-text::after {
    bottom: -40%;
    right: 0;
  }
}

@media (max-width: 992px) {
  .client-success-stories-text::before {
    top: 0%;
    left: -30%;
  }

  .client-success-stories-text::after {
    bottom: -25%;
    right: 0;
  }
}

@media (max-width: 768px) {
  .client-success-stories-text::before {
    top: -25%;
    left: 0;
  }

  .client-success-stories-text::after {
    bottom: -30%;
    right: 0;
  }
}

.client-top-text {
  padding: 30px 10px 10px 10px;
}

.c-s-p-text {
  font-size: 16px;
  font-weight: 600;
}

.client-img img {
  padding-bottom: 20px;
  border-radius: 8px;
} */

/* CLIENT-SUCCESS-STORIES (NEW) */

.client-success-stories {
  background: linear-gradient(90deg, #B4D5FF 0%, #FFC183 50%, #FFE0C1 100%);
}

.client-success-stories-text {
  position: relative;
  z-index: 1;
  /* padding: 10px; */
}

.client-success-stories-text::before,
.client-success-stories-text::after {
  content: '';
  background: url('../images/our-services-icon-img/quote-icon.png') no-repeat;
  background-size: contain;
  position: absolute;
  width: 80px;
  height: 80px;
}

.client-success-stories-text::before {
  top: 0;
  left: 0;
}

.client-success-stories-text::after {
  bottom: -30%;
  right: 0;
}

/* @media (min-width: 1400px) {
  .client-success-stories-text::before {
    top: 0;
    left: 0;
  }

  .client-success-stories-text::after {
    bottom: 0;
    right: 0;
  }
} */

/* @media (max-width: 992px) {
  .client-success-stories-text::before {
    top: 0;
    left: 0;
  }

  .client-success-stories-text::after {
    bottom: 0;
    right: 0;
  }
} */

/* @media (max-width: 768px) {
  .client-success-stories-text::before {
    top: 0;
    left: 0;
  }

  .client-success-stories-text::after {
    bottom: 0;
    right: 0;
  }
} */

.client-top-text {
  padding: 30px 10px 10px 10px;
}

.c-s-p-text {
  font-size: 16px;
  font-weight: 600;
}

.client-img img {
  border-radius: 8px;
}

@media (max-width: 768px) {
  .client-img {
    padding-bottom: 20px;
  }
}

.new-client-img {
  width: 100%;
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
}

.new-client-img.fade-out {
  opacity: 0;
}

/* FAQ SECTION */

@media (max-width: 768px) {
  .faq-con-img {
    flex-direction: column;
  }

  .faq-img {
    text-align: center;
    /* display: none; */
  }

  /* .client-img img {
    width: 400px !important;
  } */

  /* .client-success-stories-text {
    margin-bottom: 30px;
  } */
}

.faq-container {
  background-color: var(--color-faq-background);
}

.faq-tab {
  background-color: transparent !important;
  border-top: none !important;
  border-right: none !important;
  border-left: none !important;
  border-bottom: 1.4px solid var(--color-black) !important;
  border-radius: 0px !important;
}

.accordion-button {
  background-color: transparent !important;
}

.accordion-button:focus,
.accordion-button.focus,
.accordion-button:active,
.accordion-button.active {
  outline: none !important;
  box-shadow: none !important;
  color: var(--color-black) !important;
}