.our-company-hero img {
    height: 100vh;
    width: 99vw;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

/* .img-fluid-Strategic-Business-Proposition{
    width: 380px;
    height: 314px;
}

@media (max-width: 768px) {
.stratagic-content{
    flex-direction: column;
}
} */

/* STRATEGIC BUSINESS */

.img-fluid-Strategic-Business-Proposition {
    transition: 0.35s ease;
}

.img-fluid-Strategic-Business-Proposition:hover {
    transform: scale(1.025);
    cursor: pointer;
}

.stratagic-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 1.25rem;
    /* 5 * 0.25rem (base unit) */
}

.content-stratgic-p,
.stratagic-img {
    padding: 1rem;
}

.content-stratgic-p {
    flex: 0 0 66.6667%;
    max-width: 66.6667%;
}

.stratagic-img {
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
}

.img-fluid-Strategic-Business-Proposition {
    width: 100%;
    height: 50vh;
}

ul {
    list-style: none;
    padding: 0;
}

/* ENABLE THIS IF ANY ISSUES ARISE */
/* ul li {
    margin-bottom: 0.5rem;
} */

/* Media Queries */
@media (max-width: 768px) {

    .content-stratgic-p,
    .stratagic-img {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .row {
        text-align: center;
    }

    img {
        margin: 0 auto;
    }
}

/* <!-- Vertically Integrated Business Model --> */

.Vertically-Integrated-Business-Model {
    background-color: var(--color-orange);
}

.vertical-img {
    width: 100%;
    height: 40vh;
    transition: 0.35s ease;
    padding-left: 20px;
}

.vertical-img:hover {
    transform: scale(1.025);
    cursor: pointer;
}

.spinner-border-lg {
    width: 250px;
    margin-right: 20px;
    height: 3rem;
    border-width: 2px;
    /* Adjust this value to reduce the border width */
}

.card-header.border-success {
    border: none;
    /* Remove the border */
}

.card-line {
    border-top: 1px solid black;
    width: 300px;
    margin-left: 30px !important;
}

.quick-apply {
    background: linear-gradient(90deg, rgba(180, 213, 255, 1) 0%, rgba(255, 193, 131, 1) 49.93%, rgba(255, 224, 193, 1) 100%);
    height: 100vh;
    margin: 0;
}

/* OUR BUSINESSES SECTION */

.our-business-img {
    padding: 10px 0px 10px 0px;
}

@media (max-width: 768px) {
    .our-business-img {
        display: flex;
        justify-content: center;
    }

    .our-business-img img {
        /* Optional: if you want the image to be centered */
        max-width: 100%;
        height: auto;
    }
}

/* OUR TEAM */

.our-team-card {
    position: relative;
    /* width: 300px; */
    /* height: 400px; */
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.our-team-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.our-team-overlay {
    position: absolute;
    bottom: 0;
    width: 75%;
    height: 25%;
    /* background-color: rgba(0, 123, 255, 0.5); */
    background-color: #1453A3CC;
    /* border-top-left-radius: 15px; */
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    /* border-bottom-right-radius: 15px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.our-team-info {
    text-align: center;
    color: white;
}

.our-team-name {
    margin: 0;
    font-size: 1.2em;
}

.our-team-designation {
    margin: 5px 0;
    font-size: 1em;
}

.our-team-social-icons {
    margin-top: 8px;
}

.our-team-icon {
    margin: 0 8px;
    color: var(--color-white);
    font-size: 1.2em;
    text-decoration: none;
    transition: color 0.2s ease;
}

.our-team-icon:hover {
    color: var(--color-orange);
}

/* CLIENT-SUCCESS-STORIES */

.client-success-stories {
    background: linear-gradient(90deg, #b4c1ff 0%, #FFC183 49.93%, #FFE0C1 100%);
}

.client-success-stories-text {
    position: relative;
    padding: 10px;
    z-index: 1;
    /* border-radius: 8px; */
}

.client-success-stories-text::before,
.client-success-stories-text::after {
    content: '';
    background: url('../images/our-services-icon-img/quote-icon.png') no-repeat;
    background-size: contain;
    position: absolute;
    width: 100px;
    height: 100px;
}

.client-success-stories-text::before {
    top: -10%;
    left: -20%;
}

.client-success-stories-text::after {
    bottom: -40%;
    right: 0;
}

@media (min-width: 1400px) {
    .client-success-stories-text::before {
        top: -10%;
        left: -15%;
    }

    .client-success-stories-text::after {
        bottom: -40%;
        right: 0;
    }
}

@media (max-width: 992px) {
    .client-success-stories-text::before {
        top: 0%;
        left: -30%;
    }

    .client-success-stories-text::after {
        bottom: -25%;
        right: 0;
    }
}

@media (max-width: 768px) {
    .client-success-stories-text::before {
        top: -25%;
        left: 0;
    }

    .client-success-stories-text::after {
        bottom: -30%;
        right: 0;
    }
}

.client-top-text {
    /* padding-top: 20px; */
    padding: 30px 10px 10px 10px;
}

.c-s-p-text {
    font-size: 16px;
    font-weight: 600;
}

.client-img img {
    /* height: 353px; */
    /* width: 500px; */
    padding-bottom: 20px;
    border-radius: 8px;
}