.card-body {
  border: 1px solid rgba(186, 136, 0, 1) !important;
  text-align: justify;
  padding: 20px 20px !important;
  border-top: none !important;
}

.card-product {
  max-width: 100px;
  padding-bottom: 20px;
}

.card-img-top:hover {
  transform: scale(1.02);
  cursor: pointer;
}

.card-body {
  height: calc(100% - 200px);
  overflow-y: auto;
}

.card-img-top {
  height: 200px;
  /* object-fit: cover; */
  border-radius: 8px !important;
  transition: 0.35s ease;
}

/* media queries for responsive design */
.card-body {
  min-height: 180px;
  margin-bottom: 20px !important;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

/* .card-serve-icon {} */

/* media queries for responsive design */
@media (max-width: 768px) {
  .card-product {
    flex-basis: 50%;
  }
}

@media (max-width: 480px) {
  .card-serve {
    flex-direction: column !important;
  }
}