.card-body {
  border: 1.5px solid var(--color-orange) !important;
  text-align: justify;
  padding: 20px !important;
  border-top: none !important;
  /* CSS from a different place */
  min-height: 180px;
  /* margin-bottom: 20px !important; */
}

/* .img-fluid {
  max-width: 100%;
  height: auto;
} */

.card-product {
  /* max-width: 100px; */
  padding-bottom: 20px;
  color: var(--color-navy-blue);
}

.card-img-top {
  height: 200px;
  /* object-fit: cover; */
  /* border-radius: 8px !important; */
  transition: 0.35s ease;
  /* Added later */
  /* transform: scale(1.02); */
}

.card-img-top:hover {
  transform: scale(1.02);
  cursor: pointer;
}

.card-body {
  height: calc(100% - 200px);
  overflow-y: auto;
}

/* MEDIA QUERIES */

@media (max-width: 768px) {
  /* .card-product {
    flex-basis: 50%;
  } */
}

@media (max-width: 480px) {
  .card-serve {
    flex-direction: column !important;
  }
}